<!DOCTYPE html>
<html>
<head>
  <title>Probably Jokes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<section ng-app="probablyJokes">
		
		<script type="text/ng-template" id="tweet-card.html">
  		<%= render "angular-templates/tweet_card" %>
		</script>

		<%= yield %>

	</section>
</body>
</html>
