<!DOCTYPE html>
<html>
	<head>
	  <title>Probably Jokes</title>
	  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<section id="header">
			<%= render "templates/nav" %>
		</section>

		<section id="main" ng-app="probablyJokes">
			<script type="text/ng-template" id="tweet-card.html">
	  		<%= render "templates/tweet_card" %>
			</script>
			<%= yield %>
		</section>

		<section id="background-design">
			<%= render "templates/background_design" %>
		</section>

	</body>
</html>
